<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{"SETTINGS.TITLE"|translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-select
            [label]="'SETTINGS.COLORINPUT.LABEL'|translate"
            [value]="currColor$ |async"
            (ionChange)="onChangeTheme($any($event))"
          >
            <ion-select-option value="default"
              >{{"SETTINGS.COLORINPUT.DEFAULT"|translate}}</ion-select-option
            >
            <ion-select-option value="dark"
              >{{"SETTINGS.COLORINPUT.DARK"|translate}}</ion-select-option
            >
            <ion-select-option value="light"
              >{{"SETTINGS.COLORINPUT.LIGHT"|translate}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item
          ><ion-select
            [label]="'SETTINGS.LANGINPUT.LABEL'|translate"
            [value]="currLanguage$|async"
            (ionChange)="onChangeLang($any($event))"
          >
            <ion-select-option value="default"
              >{{'SETTINGS.LANGINPUT.DEFAULT'|translate}}</ion-select-option
            >
            <ion-select-option value="en"
              >{{'SETTINGS.LANGINPUT.ENGLISH'|translate}}</ion-select-option
            >
            <ion-select-option value="pl"
              >{{'SETTINGS.LANGINPUT.POLISH'|translate}}</ion-select-option
            >
          </ion-select></ion-item
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-select
            [label]="'SETTINGS.FONTINPUT.LABEL'|translate"
            [value]="currFontSize$|async"
            (ionChange)="onChangeFontSize($any($event))"
          >
            <ion-select-option value="default"
              >{{'SETTINGS.FONTINPUT.DEFAULT'|translate}}</ion-select-option
            >
            <ion-select-option value="small"
              >{{'SETTINGS.FONTINPUT.SMALL'|translate}}</ion-select-option
            >
            <ion-select-option value="big"
              >{{'SETTINGS.FONTINPUT.BIG'|translate}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
