<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-select
            label="Select Color Theme"
            value="default"
            (ionChange)="onChangeTheme($any($event))"
          >
            <ion-select-option value="default">Default</ion-select-option>
            <ion-select-option value="dark">Dark</ion-select-option>
            <ion-select-option value="light">Light</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item> Change language </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-select
            label="Select Font Size"
            value="default"
            (ionChange)="onChangeFontSize($any($event))"
          >
            <ion-select-option value="default">Default</ion-select-option>
            <ion-select-option value="small">Small</ion-select-option>
            <ion-select-option value="big">Big</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
