<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="weather">
      <ion-icon aria-hidden="true" name="cloud"></ion-icon>
      <ion-label>{{"WEATHER.TITLE"|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>{{"SEARCH.TITLE"|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>{{"SETTINGS.TITLE"|translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
