<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{'SEARCH.TITLE'|translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-input
              [label]="'SEARCH.LABEL'|translate"
              labelPlacement="floating"
              formControlName="cityName"
            >
            </ion-input>
          </ion-item>
          <ion-item
            *ngIf="form.controls.cityName.hasError('pattern') && form.controls.cityName.touched"
          >
            <ion-text color="danger">
              {{'SEARCH.INPUTERROR'|translate}}
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button
            type="submit"
            fill="clear"
            expand="block"
            [disabled]="form.invalid"
          >
            {{'SEARCH.BUTTON1'|translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button
            type="button"
            fill="clear"
            expand="block"
            (click)="onGetGeoLoc()"
          >
            {{'SEARCH.BUTTON2'|translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
